.box {
  background: #999;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;

  &.rounded {
    border-radius: 50px;

    #box-1 {
      background: cyan;
    }

    #box-2 {
      background: magenta;
    }

    #box-3 {
      background: yellow;
    }
  }
}
